h1 {
    font-size: 3em;
    margin-bottom: 5px;
  }
  
  h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .container {
    border: 1px solid red;
    width: 1940px;
    height: 1100px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;    
  }

  .container-left, .container-right
  {
    width: 50%;
    border:1px solid black;
  }
  

  
  .participant_list {
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 60px;
  }

  .participant {
    margin-left: 4%;
    margin-bottom: 1%;
    width: 300px;
    height: auto;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: aliceblue;
    box-shadow: 10px 5px 5px grey;
  }
  
  .participant img {
    max-width: 300px;
    display: block;
    object-fit: contain;
  }
  
  .nameEnglish,
  .nameBangla {
    margin: 0;
    padding: 0;
  }
  
  .specialThanks
  {
    margin-top: 30px;
    font-size: 0.9em;
  }

  .specialThanks h3
  {
    margin:0;
  }

  .specialThanks h4
  {
    font-size: 1.6em;
    margin: 0;
    font-weight: normal;
  }