.container {
  border: 1px solid red;
  width: 1940px;
  height: 1100px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;    
  background-color: black;
  color: white;
}

  .container-gap-top, .container-gap-bottom
  {
    height: 16%;
  }

 .container-english, .container-bengali
 {
   height:37%;
   font-size: 3.3em;
 }

 .container-english
 {
   color: yellow;
 }

 .container-bengali
 {
   color: lightgreen;
 }

 .line1
 {
   font-style: italic;
 }

 .line2
 {
   font-size: 1.1em;
   color: orange;
 }

 .line3
 {
   font-size: 0.95em;
   color: white;
 }

 .line4
 {
   font-size: 0.7em;
   color: white;
 }